export EXPORT_KEY=VALUE
KEY=VALUE
KEY_QUOTES='VALUE'
KEY_DOUBLE_QUOTES="VALUE"
KEY_WITH_QUOTES_INSIDE_DOUBLE_QUOTES="VALUE'"
KEY_WITH_QUOTED_QUOTES='VALUE\''
KEY_WITH_DOUBLE_QUOTES_INSIDE_QUOTES='VALUE"'
KEY_WITH_QUOTED_DOUBLE_QUOTES="VALUE\""
KEY_WITH_COMMENT=VALUE # Inline comments are ignored
KEY_WITH_COLON: VALUE
